.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #acacac;
}

.login-container .input-field {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container input:focus {
  border-color: #007bff;
  outline: none;
}

.login-container button {
  width: 100%;
  max-width: 300px;
  margin-top: 25px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}