.custom-button {
  height: 50px;
  width: 150px;
  padding: 10px 20px;
  margin: 6px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 1);
}