/* General Body Styles */
body {
  background-color: #121212; /* Darker background */
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

div {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #4682b4; /* Blue color */
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.2rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #4682b4; /* Blue color */
  background-color: #333;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #4682b4; /* Blue color */
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #888;
}

button:hover {
  background-color: #5b8db1; /* Lighter blue */
}

p {
  color: #4682b4; /* Blue color */
  font-size: 1.1rem;
  margin-top: -10px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #4682b4; /* Blue color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
